@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Colors */
/* 
red: #c61f3d
blue: #092041
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  color: #ffffff;
  font-size: clamp(1.5rem, 5vw, 2rem);
}

header {
  background-color: #092041;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.form-container {
  max-width: 425px;
  margin: 0 auto;
  margin-top: 48px;
}

label {
  display: block;
  font-size: 1.2rem;
}

input, textarea {
  width: 100%;
  margin: 8px;
  margin-top: 8px;
  margin-left: 0;
  padding: 6px;
  font-size: 1.2rem;
  border-radius: 6px;
}

input {
  height: 40px;
}

.sub-btn {
  display: block;
  background: #c61f3d;
  color: #ffffff;
  border-radius: 6px;
  font-family: inherit;
  font-size: 1.2rem;
}

.btn:active {
  box-shadow: 0px 0px 0px 2px #092041;
}

